.navbar-container {
  width: 100vw;
  position: fixed;
  z-index: 20;
  height: 5rem;
  background-color: #1a202c;
  color: #fff;
  padding-inline: 1.25rem;
}

.container-links {
  padding-inline: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}
